/* src/components/VotePage.css */

.vote-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.vote-page h1 {
    font-size: 2.5em; /* Increase the font size */
    margin-bottom: 20px;
}

.candidates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.candidate-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.vote-summary {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding-right: 135%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.result-button {
    padding: 10px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-button:hover {
    background-color: #218838;
}

.spacer {
    flex: 1;
}

.back-button {
    padding: 10px 30px;
    background-color: #d8563c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #d8563c;
}
